<div class="container">
    <h4 class="text-danger text-center">CONTATO</h4>
    <h3 class="text-center">Mande uma mensagem</h3>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <form  [formGroup]="formulario" novalidate (ngSubmit)="enviarMensagem()" #formDir="ngForm" >

                <div [hidden]="formDir.submitted">

                    <div class="form-group mb-2">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" placeholder="Seu Nome" class="form-control" formControlName="inputNome" required />

                        <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
                            <div *ngIf="mensagem.errors?.['required']" >campo nome é obrigatório.</div>
                        </div>
                    </div>

                    <div class="form-group mb-2">   
                        <label for="email">e-Mail</label>
                        <input id="email" type="email" placeholder="Seu e-Mail" class="form-control" formControlName="inputEmail" required emails/>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="mensagem.errors?.['required']" >não é um endereço de email válido.</div>
                        </div>
                        <p class="text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</p>
                    </div>

                    <div class="form-group mb-2">
                        <label for="mensagem">Mensagem</label>
                        <textarea id="mensagem" rows="5" cols="60" placeholder="Sua Mensagem" class="form-control" formControlName="inputMensagem" ></textarea>

                        <div *ngIf="mensagem.invalid && (mensagem.dirty || mensagem.touched)" class="alert alert-danger">

                            <div *ngIf="mensagem.errors?.['required']">
                                campo mensagem é obrigatório.
                            </div>
                            <div *ngIf="mensagem.errors?.['minlength']">
                                campo mensagem deverá possuir no mínimo 5 caracteres.
                            </div>
                        </div>
                    </div>
                    
                    <p>Complete o formulário para habilitar o botão Enviar.</p>
                    <Button class="btn btn-primary m-3" type="submit" [disabled]="formulario.invalid" >
                        Enviar
                    </Button>
                    <button type="button" class="btn btn-light ml-3 m-3" (click)="formDir.resetForm({})">
                        Reset
                    </button>
                </div>
            </form>

            <div class="submitted-message" *ngIf="formDir.submitted">
                <h3>Sua mensagem foi enviada!</h3>
                <button type="button" (click)="formDir.resetForm({})" class="btn btn-light m-3">Nova Mensagem</button>
            </div>

        </div>
    </div>
</div>