<div>
    <h4 class="text-danger text-center" id="contato">CONTATO</h4>
    <h3 class="text-center">Mande uma mensagem</h3>
    <div id="contato" class="row justify-content-md-center">
        <div class="col col-lg-4">
            <Form>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="nome">Nome</span>
                    <input name='nome' type="text" placeholder="Seu Nome" class="form-control" aria-describedby="nome" />
                    </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email">e-Mail</span>
                    <input name='email' type="email" placeholder="Seu e-Mail" class="form-control" aria-describedby="email" />
                    <span class="text-muted">
                        Nunca compartilharemos seu e-mail com mais ninguém.
                    </span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="mensagem">Mensagem</span>
                    <textarea name="mensagem"rows="5" cols="60"></textarea>
                </div>
                <Button class="mb-3" variant="primary" type="submit">
                    Enviar
                </Button>
            </Form>
        </div>
    </div>
</div>