<div>
    <hr/>
    <div class="container mb-3">
        <div class="row">
            <div class="col sm-3" ></div>
            <div class="col sm-6">
                <h5 class="text-danger">O QUE FAZEMOS</h5>
                <h2>NOSSOS SERVIÇOS</h2>
                <p class="card-text">Serviços com garantia e qualidade técnica. Atualização constante
                    de certificações das maiores marcas do mundo.
                    Acompanhamento e Controle dos serviços através de nossa
                    plataforma de controle de ordens serviços.</p>
                <p class="card-text"><small class="text-muted">Leia mais</small></p>
                </div>
            <div class="col sm-3"></div>
        </div>
    </div>
</div>