<div>
    <div id="servicos_icons" class="container mb-3">
        <div class="row justify-content-md-center ">
            <div class="col col-lg-2 align-self-center justify-content-center text-center" alt="Vendas">
                <a data-bs-target="#carossel-servicos" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" id="btn1" >
                    <i class="fa-solid fa-cart-shopping fa-4x" title="Vendas"></i>
                    <h5 class="text-center">
                        Vendas
                    </h5>
                </a>
            </div>
            <div class="col col-lg-2 align-self-center justify-content-center text-center">
                <a data-bs-target="#carossel-servicos" data-bs-slide-to="1" aria-label="Slide 2">
                    <i class="fas fa-server fa-5x" title="Servidores"></i>
                    <h5 class="text-center">
                        Servidores
                    </h5>
                </a>
            </div>
            <div class="col col-lg-2 align-self-center justify-content-center text-center">
                <a data-bs-target="#carossel-servicos" data-bs-slide-to="2" aria-label="Slide 3">
                    <i class="fas fa-network-wired fa-5x" title="Rede" ></i>
                    <h5 class="text-center">
                        Rede
                    </h5>
                </a>
            </div>
            <div class="col col-lg-2 align-self-center justify-content-center text-center">
                <a data-bs-target="#carossel-servicos" data-bs-slide-to="3" aria-label="Slide 4">
                    <i class="fas fa-shield-alt fa-5x" title="Segurança" ></i>
                    <h5 class="text-center">
                        Segurança
                    </h5>
                </a>
            </div>
            <div class="col col-lg-2 align-self-center justify-content-center text-center">
                <a data-bs-target="#carossel-servicos" data-bs-slide-to="4" aria-label="Slide 5">
                    <i class="fas fa-solar-panel fa-5x" title="Energia Solar" ></i>
                    <h5 class="text-center">
                        Energia Solar
                    </h5>
                </a>
            </div>
        </div>
    </div>

    <div style="display: 'block'; padding: 30;" >
        <div class="carousel slide" id="carossel-servicos" data-bs-ride="carousel" >
            <div class="carousel-inner">
                <div class="carousel-item active" aria-activedescendant="#btn1">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fundo_venda.jpg" class="card-img" alt="..." />
                            </div>
                            <div class="col-md-6">
                                <div id="cartao_venda" class="card-body cartao_servico">
                                    <h5 class="card-title">Vendas</h5>
                                    <p class="card-text">Com 20 anos de experiência no mercado de tecnologia
                                        possuímos Know-how para realizar uma análise das necessidades e propormos
                                        soluções que visam melhorar e indicar alternativa para alcançar os objetivos,
                                        indicar o melhor o custo benefício no cenário atual e futuro.</p>
                                    <p class="card-text">Possuímos parceria com os maiores Distribuidores e realizamos
                                        Venda Direta, o pedido sai diretamente do Distribuidor para o Cliente Final,
                                        reduzindo o valor final, contudo ainda acompanhando o Pedido até que seja
                                        completamente entregue.
                                    </p>
                                    <p class="card-text"><small class="text-muted">Leia mais</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div id="cartao_servidor" class="card-body cartao_servico">
                                    <h5 class="card-title">Servidores</h5>
                                    <p class="card-text">Implantação, configuração e instalação em servidores de diverssas áreas
                                        e ambientes, sistemas Windows e Linux.
                                    </p>
                                    <p class="card-text">Windows: Active Directory, File Server, SQL Server, MS Backup,
                                        Hyper-V, Terminal Service e outros.
                                    </p>
                                    <p class="card-text">Linux: Samba DC, BAckup, WEB/PHP, MySQL, Postgres, NVR, VOIP
                                        e outros.
                                    </p>
                                    <p class="card-text"><small class="text-muted">Leia mais</small></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="../../assets/img/fundo_servidor.jpg" class="card-img" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fundo_rede.jpg" class="card-img" alt="..." />
                            </div>
                            <div class="col-md-6">
                                <div id="cartao_rede" class="card-body cartao_servico">
                                    <h5 class="card-title">Rede</h5>
                                    <p class="card-text">Somos especialistas em soluções de rede:
                                        Mikrotik, Rede Wi-Fi Profissional, Firewall Empresarial, Cabeamento
                                        Estruturado, Infraestrutura, Análise de Tráfego e outros.
                                    </p>
                                    <p class="card-text">Realizamos Projeto de Rede, levantamento de
                                        necessidades, indicação das melhores soluções de serviços e equipamentos
                                        com melhor custo benefício.
                                    </p>
                                    <p class="card-text"><small class="text-muted">Leia mais</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div id="cartao_seguranca" class="card-body cartao_servico">
                                    <h5 class="card-title">Segurança</h5>
                                    <p class="card-text">Segurança é essencial, seja qual for o tamanho
                                        do negócio ou residência, fornecemos soluções em CFTV (Vigilância
                                        por Vídeo) de alta qualidade e tecnologia, Controle de Acesso Profissional
                                        e Alarmes. Soluções inteligentes, um único software de gerenciamento
                                        para controlar todos os ativos de segurança, integrando-os.
                                    </p>
                                    <p class="card-text">Realizamos teste de segurança de sistemas e rede,
                                        para identificar possíveis falhas.
                                    </p>
                                    <p class="card-text"><small class="text-muted">Leia mais</small></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="../../assets/img/fundo_seguranca.jpg" class="card-img" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fundo_energia.jpg" class="card-img" alt="..." />
                            </div>
                            <div class="col-md-6">
                                <div id="cartao_energia" class="card-body cartao_servico">
                                    <h5 class="card-title">Energia Solar</h5>
                                    <p class="card-text">A utilização da Energia Solar só trás vantagens, a
                                        ajuda ao Meio Ambiente, reduzindo a criação de novas usinas a base de
                                        combustível fóssil, o lado de economia, onde poderá reduzir em até 95%
                                        a conta de energia, gerando crédito para uso posterior ou compartilhado.
                                        Não importa o atrativo, temos os melhores equipamentos do mundo, com
                                        instalação técnica profissional.
                                    </p>
                                    <p class="card-text"><small class="text-muted">Leia mais</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>