<div>
    <hr/>
    <div class="container mb-3" id="quemsomos" >
        <div class="row" >
            <div class="col sm-8">
                <h5 class="card-title text-danger">QUEM SOMOS</h5>
                <h2>NOSSA HISTÓRIA</h2>
                <p class="card-text">A Microben atua no segmento de tecnologia desde o ano 2000,
                    oferecendo primeiramente serviços de consultoria e manutenção
                    em equipamentos de informática. Ao longo desse período ganhou
                    credibilidade e respeito no mercado por oferecer produtos
                    de alta qualidade, com parceria das mais renomadas marcas
                    e serviços altamente especializados com certificação e excelência.
                    Nesse segmento trabalha com vendas de equipamentos,
                    servidores, rede, segurança e energia solar, com um nível
                    de experiência Sênior nos serviços que oferece.</p>
                <p class="card-text"><small class="text-muted">Leia mais</small></p>
            </div>
            <div class="col sm-4 ">
                <img src="../../assets/img/logo_historia.png" class="img-fluid" alt="..." />
            </div>
        </div>
    </div>
</div>