<div class="rodape" >
    <div class="bg-danger">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
                <img src="../../assets/icon/logo_rodape.png" alt="Logo Microben" />
            </div>
        </div>
        <div class="d-flex bd-highlight text-white">
            <div class="p-2 bd-highlight">
                <h5 class="fas fa-envelope-square"></h5>
            </div>
            <div class="p-2 bd-highlight">
                <h5>vendas@microben.com.br</h5>
            </div>
        </div>
        <div class="d-flex bd-highlight text-white">
            <div class="p-2 bd-highlight">
                <h5 class="fas fa-phone"></h5>
            </div>
            <div class="p-2 bd-highlight">
                <h5><strong>(92) 3302-3404</strong></h5>
            </div>
            <div class="p-2 bd-highlight">
                <h5 class="fas fa-mobile"></h5>
            </div>
            <div class="p-2 bd-highlight">
                <h5><strong>(92) 98823-5697</strong></h5>
            </div>
        </div>

        <div class="d-flex bd-highlight text-white">
            <div class="p-2 bd-highlight">
                <h6 class="fas fa-map-marker-alt"></h6>
            </div>
            <div class="p-2 bd-highlight">
                <h6>Rua Yucatan, Quadra G, Lote 7 - Alvorada</h6>
                <h6>69042-222</h6>
            </div>
            <div class="p-2 bd-highlight">
                <h6>Manaus - Amazonas</h6>
            </div>
            <div class="ms-auto p-2 bd-highlight">
                <h1 class="fab fa-facebook"></h1>
                <h1 class="p-2 fab fa-instagram"></h1>
            </div>
        </div>
    </div>
</div>